@model IEnumerable<Entities.Product>

<h3>Product Index</h3>
<p>
    <a class="btn btn-success" asp-area="Admin" asp-controller="Product" asp-action="Create">Create New Product</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.Price</td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-warning" asp-area="Admin" asp-controller="Product" asp-action="Update" asp-route-id="@item.ProductId">
                            <i class="fa-solid fa-pen-to-square"></i> Edit
                        </a>
                        <a class="btn btn-danger" asp-area="Admin" asp-controller="Product" asp-action="Delete" asp-route-id="@item.ProductId">
                            <i class="fa-solid fa-trash"></i> Delete
                        </a>
                        <a class="btn btn-info" asp-area="" asp-controller="Product" asp-action="Get" asp-route-id="@item.ProductId">
                            <i class="fa-solid fa-search"></i> Web
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>